{% import "shared/macros.html" as macros %}

{% extends "customer/shared/base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "customer/shared/page-heading.html" %}
{% endwith %}

<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-main product-grid">
        <div class="pro-coloumn">
          <article class="col-main">
            <div class="toolbar">
              <div class="pager">
                {% if data["sort_method_selectors"] and data["sort_method_selectors"]|length > 0 %}
                  <div id="sort-by">
                    <label class="left">Ordenar por: </label>
                    <ul>
                      {% for sort_method_selector in data["sort_method_selectors"] %}
                        {{macros.sort_method_li(name=sort_method_selector["name"], active=sort_method_selector["active"], href=sort_method_selector["href"])}}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% with data=data["paginator_data"] %}
                  {% include "customer/shared/paginator.html" %}
                {% endwith %}
              </div>
            </div>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][0:4] %}
                {% include "customer/products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][4:8] %}
                {% include "customer/products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][8:12] %}
                {% include "customer/products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <div class="toolbar">
              <div class="pager">
                {% with data=data["paginator_data"] %}
                {% include "customer/shared/paginator.html" %}
                {% endwith %}
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}

{% endblock %}