<!DOCTYPE html>
<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
	<meta name="description" content="Default Description">
	<meta name="keywords" content="fashion, store, E-commerce">
	<meta name="robots" content="*">
	<link rel="icon" href="#" type="image/x-icon">
	<link rel="shortcut icon" href="#" type="image/x-icon">

	{% include "common-css.html" %}	

	<meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>
<body>
	<div id="page">
		{% with data=data["header_data"] %}
			{% include "header.html" %}
		{% endwith %}

		{% block content %}
		{% endblock %}

		{% with data=data["footer_data"] %}
			{% include "footer.html" %}
		{% endwith %}
	</div>

{% with data=data["header_data"]["menu_data"] %}
	{% include "mobile-menu.html" %}
{% endwith %}

{% include "common-scripts.html" %}
{% block scripts %}
{% endblock %}
</body>
</html>
