{% import "macros.html" as macros %}

<footer>

	<div class="footer-inner">

		<div class="newsletter-row">
			<div class="container">
				<div class="row"> 
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col"> 
						<div class="payment-accept">
							<div><img src="/static/images/payment-2.png" alt="Cartões Visa"> <img src="/static/images/payment-4.png" alt="Cartões Master Card"></div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col1">
						<div class="newsletter-wrap">
							<form action="#" method="post" id="newsletter-validate-detail1">
								<div id="container_form_news">
									<div id="container_form_news2">
										<h4>Assine nossa newsletter</h4>
										<input type="text" name="email" id="newsletter1" title="Assine nossa newsletter" class="input-text required-entry validate-email" placeholder="Entre com seu email">
										<button type="submit" title="Assinar newsletter" class="button subscribe"><span>Assinar</span></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-lg-4">
					<div class="co-info">
						<h4>Contato</h4>
						<address>
							<div><em class="icon-location-arrow"></em> <span>{{data["address"].decode('utf-8')}}</span></div>
							<div><em class="icon-mobile-phone"></em><span>{{data["tel"].decode('utf-8')}}</span></div>
							<div><em class="icon-envelope"></em><span>{{data["email"].decode('utf-8')}}</span></div>
						</address>
						{% if data["social_networks"] and data["social_networks"]|length > 0 %}
							<div class="social">
								<ul class="link">
									{% for item in data["social_networks"] %}
										{{macros.social_network(title=item["title"].decode('utf-8'), class=item["class"], href=item["href"])}}
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="col-sm-8 col-xs-12 col-lg-8">
					<div class="footer-column">
						<h4>Empresa</h4>
						<ul class="links">
							<li class="first"><a title="Sobre nós" href="{{url_for('about_us')}}">Sobre nós</a></li>
							<li><a title="FAQ" href="{{url_for('faq')}}">FAQ</a></li>
						</ul>
					</div>

					<div class="footer-column">
						<a href="{{url_for('all_products', page=1, sort_method=0)}}"><h4>Produtos</h4></a>
						{% if data["products"] and data["products"]|length > 0 %}
							<ul class="links">
								{% for item in data["products"] %}
									{% if loop.first %}
										{{macros.product(title=item["name"].decode("utf-8"), href=url_for("products_by_category", category_id=item["category_id"], page=1, sort_method=0), class="first")}}
									{% else %}
										{{macros.product(title=item["name"].decode('utf-8'), href=url_for("products_by_category", category_id=item["category_id"], page=1, sort_method=0))}}
									{% endif %}
								{% endfor %}
								{{macros.product(title="...", href=url_for('all_products', page=1, sort_method=0))}}
							</ul>
						{% endif %}
					</div>

					<div class="footer-column">
						<a href="{{url_for('blog', page=1)}}"><h4>Blog</h4></a>
						<ul class="links">
							{% for item in data["blog_posts"] %}
								{% if loop.first %}
									{{macros.blog_post_link(title=item["title"].decode("utf-8"), href=url_for("blog_post", blog_post_id=item["blog_post_id"]), class="first")}}
								{% else %}
									{{macros.blog_post_link(title=item["title"].decode("utf-8"), href=url_for("blog_post", blog_post_id=item["blog_post_id"]))}}
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-text-container">
			<span class="copyright-text">{{data["copyright_text"].decode('utf-8')}}</span>
		</div>
	</div>
</footer>