{% extends "admin/shared/base.html" %}

{% import "shared/macros.html" as macros %}

{% block title %}
    Categorias de produto
{% endblock %}
{% block title_right_link %}
    <a href="{{ url_for('admin_add_product_category') }}">+ Adicionar</a>
{% endblock %}

{% block content %}
    {% with data=data.super_table_data %}
        {% include "admin/shared/super_table.html" %}
    {% endwith %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/super_table.js' ) }}"></script>
    <script>
        $("form.disable-category").each(function () {
            var form = $(this);
            var submitInput = form.find("input[type='submit']");
            var row = form.attr("row");
            var category_id = form.attr("category_id");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                confirmMessage: "Tem certeza que deseja desativar essa categoria? Ao desativar uma categoria, todos produtos dessa categoria não estarão mais visíveis no site.",
                submit: function () {
                    submitInput.prop("disabled", true);
                    submitInput.attr("value", "Desativando...");
                },
                success: function () {
                    $("#row-{0}".f(row)).addClass("inactive");
                    form.hide();
                    updateTableData("active", row, "{{ macros.get_bool_glyphicon(False) }}");
                    $("#activate-category-{0}".f(category_id)).show();
                    throwSuccessOpToast('A categoria #{0} foi desativada com sucesso.'.f(category_id));
                },
                error: function () {
                    throwErrorOpToast('Ocorreu uma falha ao desativar a categoria #{0}. Tente novamente.'.f(category_id));
                },
                complete: function () {
                    submitInput.prop("disabled", false);
                    submitInput.attr("value", "Desativar categoria");
                }
            })
        });

        $("form.activate-category").each(function () {
            var form = $(this);
            var submitInput = form.find("input[type='submit']");
            var row = form.attr("row");
            var category_id = form.attr("category_id");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                submit: function () {
                    submitInput.prop("disabled", true);
                    submitInput.attr("value", "Ativando...");
                },
                success: function () {
                    $("#row-{0}".f(row)).removeClass("inactive");
                    form.hide();
                    updateTableData("active", row, "{{ macros.get_bool_glyphicon(True) }}");
                    $("#disable-category-{0}".f(category_id)).show();
                    throwSuccessOpToast('A categoria #{0} foi ativada com sucesso.'.f(category_id));
                },
                error: function () {
                    throwErrorOpToast('Ocorreu uma falha ao ativar a categoria #{0}. Tente novamente.'.f(category_id));
                },
                complete: function () {
                    submitInput.prop("disabled", false);
                    submitInput.attr("value", "Ativar categoria");
                }
            })
        })
    </script>
{% endblock %}