{% extends "admin/shared/base.html" %}

{% block title %}Categorias de produto{% endblock %}

{% block content %}
  <a href="{{url_for('admin_add_product_category')}}">Adicionar nova categoria</a>
  <div class="br-8px"></div>

  {% if not data["empty"] %}
    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for category in data["categories"] %}
          <tr>
            <td>#{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
              <ul class="table-action-ul">
                <li>
                  <a href="{{url_for('admin_edit_product_category', category_id=category.id, page_to_return=data['page'])}}">Editar</a>
                </li>
                <li>
                  <form class="remove-form" action="{{url_for('admin_remove_product_category', category_id=category.id, page_to_return=data['page'])}}" method=post enctype=multipart/form-data>
                    {{ data["remove_form"].csrf_token }}
                    <input type=submit value=Remover>
                  </form>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}
  {% else %}
    <p>Nenhuma categoria foi encontrada.</p>
  {% endif %}

{% endblock %}

{% block scripts %}
<script>
  $(".remove-form").submit(function() {
      var c = confirm("Tem certeza que deseja remover a categoria? Ficará difícil para o usuário encontrar os produtos que pertencem a esta categoria e todas as subcategorias dessa categoria também serão removidas.");
      return c;
  });
</script>
{% endblock %}