<div class="actions-container category">
    <a class="btn btn-default"
       href="{{ url_for('admin_edit_product_category', category_id=data.category_id, url_args=data.url_args) }}">Editar
        categoria</a>
    <form id="disable-category-{{ data.category_id }}" row="{{ data.row }}" category_id="{{ data.category_id }}"
          class="disable-category last"
          action="{{ url_for('admin_disable_product_category', category_id=data.category_id) }}" method=post
          style="{{ macros.get_display_none_if(not data.category_active) }}">
        {{ data.simple_submit_form.csrf_token }}
        <input class="btn btn-default category action" type=submit value="Desativar categoria">
    </form>
    <form id="activate-category-{{ data.category_id }}" row="{{ data.row }}" category_id="{{ data.category_id }}"
          class="activate-category last"
          action="{{ url_for('admin_activate_product_category', category_id=data.category_id) }}"
          method=post style="{{ macros.get_display_none_if(data.category_active) }}">
        {{ data.simple_submit_form.csrf_token }}
        <input class="btn btn-default category action" type=submit value="Ativar categoria">
    </form>
</div>