{% import "shared/macros.html" as macros %}

{% extends "admin/shared/base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
  <a href="{{url_for('admin_add_product')}}">Adicionar novo produto</a>
  <div class="br-8px"></div>

  <div class="jumbotron filter">
    <form action="{{url_for('admin_products', page=1)}}" method=get enctype=multipart/form-data>
      {% with form = data["filter_product_form"] %}
        {% include "admin/shared/form-fields.html" %}
      {% endwith %}
    </form>
  </div>

  {% if not data["empty"] %}
    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Categoria</th>
          <th>Subcategoria</th>
          <th>Título</th>
          <th>Preço (R$)</th>
          <th>Em estoque</th>
          <th>Mín. estoque{{macros.info_tooltip_min_stock()}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in data["products"] %}
          <tr>
            <td>#{{product.id}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.subcategory.name}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock_quantity}}</td>
            <td>{{product.stop_sell_stock_quantity}}</td>
            <td>
              <button id="action-btn-{{product.id}}" class="btn btn-default action" type="button" data-toggle="collapse" data-target="#collapsible-row-{{product.id}}" aria-expanded="false" aria-controls="collapsible-row-{{product.id}}">
                Exibir ações <span class="glyphicon glyphicon-menu-down"></span>
              </button>
            </td>
          </tr>
          <tr class="collapse collapsible-row" id="collapsible-row-{{product.id}}" action-btn-id="action-btn-{{product.id}}">
            <td colspan="8">
              <div class="panel panel-default actions">
                <div class="panel-heading">
                  <h3 class="panel-title">Ações</h3>
                </div>
                <div class="panel-body">
                  <a class="btn btn-default action-row" target="_blank" href="{{url_for('product', product_id=product.id)}}">Ver produto</a><br>
                  <a class="btn btn-default action-row" href="{{url_for('admin_edit_product', product_id=product.id, url_args=data.url_args)}}">Editar</a>
                  <form class="add-to-stock-form action-row" action="{{url_for('admin_add_to_stock', product_id=product.id, url_args=data.url_args)}}" method=post enctype=multipart/form-data>
                    {{ data["stock_operation_form"].csrf_token }}
                    <div class="input-group">
                      <input name="{{data['stock_operation_form'].quantity.name}}" size="5" type="number" class="form-control stock quantity" placeholder="Ex.: 3">
                      <span class="input-group-btn">
                        <input name="{{data['stock_operation_form'].submit.name}}" class="btn btn-default" type="submit" value="Adicionar ao estoque">
                      </span>
                    </div>
                  </form>
                  <form class="remove-from-stock-form action-row" action="{{url_for('admin_remove_from_stock', product_id=product.id, url_args=data.url_args)}}" method=post enctype=multipart/form-data>
                    {{ data["stock_operation_form"].csrf_token }}
                    <div class="input-group">
                      <input name="{{data['stock_operation_form'].quantity.name}}" type="number" class="form-control stock quantity" placeholder="Ex.: 3">
                      <span class="input-group-btn">
                        <input name="{{data['stock_operation_form'].submit.name}}" class="btn btn-default" type="submit" value="Remover do estoque">
                      </span>
                    </div>
                  </form>
                  <form class="update-stock-form action-row" action="{{url_for('admin_update_stock', product_id=product.id, url_args=data.url_args)}}" method=post enctype=multipart/form-data>
                    {{ data["stock_operation_form"].csrf_token }}
                    <div class="input-group">
                      <input name="{{data['stock_operation_form'].quantity.name}}" type="number" class="form-control stock quantity" placeholder="Ex.: 3">
                      <span class="input-group-btn">
                        <input name="{{data['stock_operation_form'].submit.name}}" class="btn btn-default" type="submit" value="Atualizar estoque">
                      </span>
                    </div>
                  </form>
                  {% if product.active %}
                    <form class="remove-form action-row" action="{{url_for('admin_remove_product', product_id=product.id, url_args=data.url_args)}}" method=post enctype=multipart/form-data>
                      {{ data["action_form"].csrf_token }}
                      <input class="btn btn-default action-row" type=submit value="Remover produto" >
                    </form>
                  {% else %}
                    <form class="reactivate-form action-row" action="{{url_for('admin_reactivate_product', product_id=product.id, url_args=data.url_args)}}" method=post enctype=multipart/form-data>
                      {{ data["action_form"].csrf_token }}
                      <input class="btn btn-default action-row" type=submit value="Reativar produto">
                    </form>
                  {% endif %}
                </div>
              </div>       
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}
  {% else %}
    <p>Nenhum produto foi encontrado.</p>
  {% endif %}

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });

  $(".collapsible-row").each(function(){
    var collapsibleRow = $(this);
    var actionButton = $("#{0}".f(collapsibleRow.attr("action-btn-id")));
    collapsibleRow.on('hide.bs.collapse', function () {
      actionButton.html("Exibir ações <span class='glyphicon glyphicon-menu-down'></span>")
    });
    collapsibleRow.on('show.bs.collapse', function () {
      actionButton.html("Ocultar ações <span class='glyphicon glyphicon-menu-up'></span>")
    });
  });
</script>
{% endblock %}