{% extends "admin/shared/base.html" %}

{% import "shared/macros.html" as macros %}

{% block title %}
    <div class="title-container">
        Produtos
        <a href="{{ url_for('admin_add_product') }}">+ Adicionar</a>
    </div>
{% endblock %}

{% block content %}


    {% with data=data.super_table_data %}
        {% include "admin/shared/super_table.html" %}
    {% endwith %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/super_table.js' ) }}"></script>
    <script>
        $("form.add-to-stock").each(function () {
            var form = $(this);
            var stockQuantityInput = form.find("input[type='number']");
            var submitInput = form.find("input[type='submit']");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                dataType: "json",
                submit: function () {
                    disableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Adicionando...")
                },
                success: function (data) {
                    updateTableData("stock", form.attr("row_idx"), data["new_stock"]);
                    throwSuccessOpToast("O estoque do produto #{0} foi aumentado em {1} unidade(s).".f(form.attr("product_id"), stockQuantityInput.val()));
                    stockQuantityInput.val('');
                },
                error: function (status) {
                    if (status == "422") {
                        stockQuantityInput.val('');
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. O valor fornecido é inválido.'.f(form.attr("product_id")));
                    }
                    else {
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. Tente novamente.'.f(form.attr("product_id")));
                    }
                },
                complete: function () {
                    enableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Adicionar ao estoque");
                }
            })
        });

        $("form.remove-from-stock").each(function () {
            var form = $(this);
            var stockQuantityInput = form.find("input[type='number']");
            var submitInput = form.find("input[type='submit']");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                dataType: "json",
                submit: function () {
                    disableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Removendo...")
                },
                success: function (data) {
                    updateTableData("stock", form.attr("row_idx"), data["new_stock"]);
                    throwSuccessOpToast("O estoque do produto #{0} foi diminuído em {1} unidade(s).".f(form.attr("product_id"), stockQuantityInput.val()));
                    stockQuantityInput.val('');
                },
                error: function (status) {
                    if (status == "422") {
                        stockQuantityInput.val('');
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. O valor fornecido é inválido.'.f(form.attr("product_id")));
                    }
                    else {
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. Tente novamente.'.f(form.attr("product_id")));
                    }
                },
                complete: function () {
                    enableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Remover do estoque");
                }
            })
        });

        $("form.update-stock").each(function () {
            var form = $(this);
            var stockQuantityInput = form.find("input[type='number']");
            var submitInput = form.find("input[type='submit']");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                dataType: "json",
                submit: function () {
                    disableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Atualizando...")
                },
                success: function (data) {
                    updateTableData("stock", form.attr("row_idx"), data["new_stock"]);
                    throwSuccessOpToast("O estoque do produto #{0} foi atualizado para {1} unidade(s).".f(form.attr("product_id"), stockQuantityInput.val()));
                    stockQuantityInput.val('');
                },
                error: function (status) {
                    if (status == "422") {
                        stockQuantityInput.val('');
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. O valor fornecido é inválido.'.f(form.attr("product_id")));
                    }
                    else {
                        throwErrorOpToast('Ocorreu uma falha ao alterar o estoque do produto #{0}. Tente novamente.'.f(form.attr("product_id")));
                    }
                },
                complete: function () {
                    enableInputGroup(form.parent(), "change-stock-group");
                    submitInput.attr("value", "Atualizar estoque");
                }
            })
        });

        {% for col in data.super_table_data.table_data.cols %}
            {% if col.id == "actions" %}
                {% set actions_idx = loop.index0 %}
                {% for row in data.super_table_data.table_data.rows %}
                    {% set actions_data = row[actions_idx] %}
                    {% if actions_data.product_active %}
                        $("#reactivate-product-{0}".f({{ actions_data.product_id }})).hide();
                    {% else %}
                        $("#desactivate-product-{0}".f({{ actions_data.product_id }})).hide();
                        $("#row-{0}".f({{ loop.index0 }})).addClass("inactive");
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        $("form.desactivate-product").each(function () {
            var form = $(this);
            var submitInput = form.find("input[type='submit']");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                submit: function () {
                    submitInput.prop("disabled", true);
                    submitInput.attr("value", "Desativando...");
                },
                success: function () {
                    $("#row-{0}".f(form.attr("row_idx"))).addClass("inactive");
                    form.hide();
                    updateTableData("active", form.attr("row_idx"), "{{ macros.get_bool_glyphicons(False) }}");
                    $("#reactivate-product-{0}".f(form.attr("product_id"))).show();
                    throwSuccessOpToast('O produto #{0} foi desativado com sucesso.'.f(form.attr("product_id")));
                },
                error: function () {
                    throwErrorOpToast('Ocorreu uma falha ao desativar o produto #{0}. Tente novamente.'.f(form.attr("product_id")));
                },
                complete: function () {
                    submitInput.prop("disabled", false);
                    submitInput.attr("value", "Desativar produto");
                }
            })
        });

        $("form.reactivate-product").each(function () {
            var form = $(this);
            var submitInput = form.find("input[type='submit']");
            setAjaxFormHandlers({
                form: form,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                submit: function () {
                    submitInput.prop("disabled", true);
                    submitInput.attr("value", "Reativando...");
                },
                success: function () {
                    $("#row-{0}".f(form.attr("row_idx"))).removeClass("inactive");
                    form.hide();
                    updateTableData("active", form.attr("row_idx"), "{{ macros.get_bool_glyphicons(True) }}");
                    $("#desactivate-product-{0}".f(form.attr("product_id"))).show();
                    throwSuccessOpToast('O produto #{0} foi reativado com sucesso.'.f(form.attr("product_id")));
                },
                error: function () {
                    throwErrorOpToast('Ocorreu uma falha ao reativar o produto #{0}. Tente novamente.'.f(form.attr("product_id")));
                },
                complete: function () {
                    submitInput.prop("disabled", false);
                    submitInput.attr("value", "Reativar produto");
                }
            })
        })
    </script>
{% endblock %}