<!DOCTYPE html>
<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
	<meta name="description" content="Default Description">
	<meta name="keywords" content="fashion, store, E-commerce">
	<meta name="robots" content="*">
	<link rel="icon" href="#" type="image/x-icon">
	<link rel="shortcut icon" href="#" type="image/x-icon">

	<!-- CSS Style -->
	<link rel="stylesheet" type="text/css" href="static/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/font-awesome.css" media="all">
	<link rel="stylesheet" type="text/css" href="static/styles/revslider.css" >
	<link rel="stylesheet" type="text/css" href="static/styles/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="static/styles/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="static/styles/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="static/styles/jquery.mobile-menu.css">
	<link rel="stylesheet" type="text/css" href="static/styles/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="static/styles/responsive.css" media="all">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,400italic,700,800,900' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>
<body>
	<div id="page">
		<header>
			<div id="header">
				<div class="header-account">
					<div class="header-container container">
						<div class="row">
							<span class="header-account-row-welcome-text"><b>Seja bem vindo a nossa loja</b></span>
							<span class="header-account-row-login-or-signir-text"><a href="/login"><b><u>Entre</u></b></a> ou <a href="/signin"><b><u>Cadastre-se</u></b></a></span>
						</div>
					</div>

					<div class="header-main">
						<div class="header-container container">
							<div class="row">
								<div class="logo"> 
									<a href="/" title="Home">
										<div>
											<img class="logo-img" src="static/images/logo.png" alt="Logo da loja">
											<img class="mini-logo-img" src="static/images/mini-logo.png" alt="Logo da loja">
										</div>
									</a> 
								</div>
								<div class="fl-nav-menu">
									<nav>
										<div class="mm-toggle-wrap">
											<div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
										</div>
										<div class="nav-inner">
											<!-- BEGIN NAV -->
											<ul id="nav" class="hidden-xs">
												<li class="mega-menu"><a href="/products" class="level-top"><span>Produtos</span></a>
													<div class="level0-wrapper dropdown-6col">
														<div class="container">
															<div class="level0-wrapper2">
																<div class="nav-block nav-block-center">
																	<ul class="level0">
																		<li class="level1 nav-6-1 parent item"><a href="#/mobiles.html"><span>Frutas</span></a>
																		</li>
																		<li class="level1 nav-6-1 parent item"><a href="#.html" class=""><span>Sopa creme</span></a>
																		</li>
																		<li class="level1 nav-6-1 parent item"><a href="#/cameras.html"><span>Sopa com pedaços</span></a>
																		</li>
																		<li class="level1 nav-6-1 parent item"><a href="#/audio-video.html"><span>Linha Single</span></a>
																			<ul class="level1">
																				<li class="level2 nav-6-1-1"><a href="#/audio-video/video-players.html"><span>Sobremesas</span></a></li>
																			</ul>
																		</li>
																		<li class="level1 nav-6-1 parent item"><a href="#/computer.html"><span>Linha Emporinho</span></a>
																			<ul class="level1">
																				<li class="level2 nav-6-1-1"><a href="#/external-hard-disk.html"><span>Risotos</span></a></li>
																				<li class="level2 nav-6-1-1"><a href="#/computer/pendrives.html"><span>Massas</span></a></li>
																				<li class="level2 nav-6-1-1"><a href="#/computer/headphones.html"><span>Escondidinhos</span></a></li>
																				<li class="level2 nav-6-1-1"><a href="#/computer/pc-components.html"><span>Arroz</span></a></li>
																				<li class="level2 nav-6-1-1"><a href="#/computer/pc-components.html"><span>Legumes</span></a></li>
																				<li class="level2 nav-6-1-1"><a href="#/computer/pc-components.html"><span>Sopas/Cremes</span></a>
																					<li class="level2 nav-6-1-1"><a href="#/computer/pc-components.html"><span>Refeições Combinadas</span></a></li></li>
																				</ul>
																			</li>
																			<li class="level1 nav-6-1 parent item"><a href="#/home-appliances.html"><span>Acessórios</span></a>
																			</li>
																		</ul>
																	</div>
																</div>
																<!--level0-wrapper2--> 

															</div>
														</div>
													</li>
													<li class="mega-menu"> <a class="level-top" href="/about-us"><span>Sobre nós</span></a> </li>       
													<li class="mega-menu"> <a class="level-top" href="/blog"><span>Blog</span></a> </li>
												</ul>
												<!--nav-->
											</div>
										</nav>
									</div>
									<!--row-->
								</div>
								<div class="fl-header-right">
									<div class="fl-cart-contain">
										<div class="mini-cart">
											<div class="basket"> <a href="/shopping-cart"> </a> </div>
											<div class="fl-mini-cart-content">
												<div class="block-subtitle">
													<div class="top-subtotal">5 items, <span class="price">R$ 32,60</span> </div>
													<!--top-subtotal-->
													<!--pull-right-->
												</div>
												<!--block-subtitle-->
												<ul class="mini-products-list" id="cart-sidebar">
													<li class="item first">
														<div class="item-inner"><a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="#l"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="static/images/products/p4.jpg"></a>
															<div class="product-details">
																<div class="access"><a class="btn-remove1" title="Remover esse item" href="#">Remover</a> <a class="btn-edit" title="Editar item" href="#"><i class="icon-pencil"></i><span class="hidden">Editar item</span></a> </div>
																<!--access-->
																<strong>2</strong> x <span class="price">R$ 10,00</span>
																<p class="product-name"><a href="product-detail.html">Papinha de maça - 500g</a></p>
															</div>
														</div>
													</li>
													<li class="item last">
														<div class="item-inner"><a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="#l"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="static/images/products/p4.jpg"></a>
															<div class="product-details">
																<div class="access"><a class="btn-remove1" title="Remover esse item" href="#">Remover</a> <a class="btn-edit" title="Editar item" href="#"><i class="icon-pencil"></i><span class="hidden">Editar item</span></a> </div>
																<!--access-->
																<strong>3</strong> x <span class="price">R$ 4,20</span>
																<p class="product-name"><a href="product-detail.html">Papinha de arroz doce - 200g</a></p>
															</div>
														</div>
													</li>
												</ul>
												<div class="actions">
													<button class="btn-checkout" title="Checkout" type="button" onClick="window.location=checkout.html"><span>Finalizar compra</span></button>
													<button class="view-cart" title="Checkout" type="button" onClick="window.location=checkout.html"><span>Ver Carrinho</span></button>
												</div>
												<!--actions-->
											</div>
											<!--fl-mini-cart-content-->
										</div>
									</div>
									<!--mini-cart-->
									<div class="collapse navbar-collapse search-input-container">
										<form class="navbar-form" role="search">
											<div class="input-group">
												<input class="GlobalNavSearch js-globalSearchInput " placeholder="Buscar" id="desktopSearchInput"  data-reactid=".1.0.0.0">
												<label class="GlobalNavSearch-searchIcon" for="desktopSearchInput" data-reactid=".1.0.0.1"></label>  
											</div>
										</form>
									</div>
									<!--links-->
								</div>
							</div>
						</div>
					</div>  
				</header>

				{% block content %}
				{% endblock %}

				<footer>
					<!-- BEGIN INFORMATIVE FOOTER -->
					<div class="footer-inner">
						<div class="newsletter-row">
							<div class="container">
								<div class="row"> 
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col"> 
										<!-- Footer Payment Link -->
										<div class="payment-accept">
											<div><img src="static/images/payment-2.png" alt="payment2"> <img src="static/images/payment-4.png" alt="payment4"></div>
										</div>
									</div>
									<!-- Footer Newsletter -->
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col1">
										<div class="newsletter-wrap">
											<form action="#" method="post" id="newsletter-validate-detail1">
												<div id="container_form_news">
													<div id="container_form_news2">
														<h4>Assine nossa newsletter</h4>
														<input type="text" name="email" id="newsletter1" title="Assine nossa newsletter" class="input-text required-entry validate-email" placeholder="Entre com seu email">
														<button type="submit" title="Subscribe" class="button subscribe"><span>Assinar</span></button>
													</div>
													<!--container_form_news2--> 
												</div>
												<!--container_form_news-->
											</form>

										</div>
										<!--newsletter-wrap--> 
									</div>

								</div>
							</div>
							<!--footer-column-last--> 
						</div>
						<div class="container">
							<div class="row">
								<div class="col-sm-4 col-xs-12 col-lg-4">
									<div class="co-info">
										<h4>Contato</h4>
										<address>
											<div><em class="icon-location-arrow"></em> <span>Rua ..., n 25, SJC - SP</span></div>
											<div> <em class="icon-mobile-phone"></em><span> (11) 1234-5678</span></div>
											<div> <em class="icon-envelope"></em><span>email@email.com</span></div>
										</address>
										<div class="social">

											<ul class="link">
												<li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
												<li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
												<li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
												<li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
												<li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
												<li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
												<li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="col-sm-8 col-xs-12 col-lg-8">
									<div class="footer-column">
										<h4>Empresa</h4>
										<ul class="links">
											<li class="first"><a title="Your Account" href="#">Sobre nós</a></li>
										</ul>
									</div>
									<div class="footer-column">
										<a href="/products?q=all"><h4>Produtos</h4></a>
										<ul class="links">
											<li class="first"><a href="#" title="About us">Frutas</a></li>
											<li><a href="#" title="Blog">Sopa creme</a></li>
											<li><a href="#" title="Company">Sopa com pedaços</a></li>
											<li><a href="#" title="Investor Relations">Linha Single</a></li>
											<li><a href="#" title="Investor Relations">Linha Emporinho</a></li>
											<li class=" last"><a href="contact-us.html" title="Suppliers"><b>...</b></a></li>
										</ul>
									</div>
									<div class="footer-column">
										<a href="/blog"><h4>Blog</h4></a>
										<ul class="links">
											<li class="first"><a href="#" title="Contact us">Título do post 0</a></li>
											<li><a href="#" title="About us">Título do post 1</a></li>
											<li><a href="#" title="faq">Título do post 2</a></li>
											<li><a href="#" title="Popular Searches">Título do post 3</a></li>
											<li class="last"><a href="#" title="Where is my order?">Título do post 4</a></li>
										</ul>
									</div>
								</div>

								<!--col-sm-12 col-xs-12 col-lg-8-->
								<!--col-xs-12 col-lg-4-->
							</div>
							<!--row-->

						</div>

						<!--container-->
						<div class="copyright-text-container">
							<span class="copyright-text">Copyright © 2016 - Crescer Saudável</span>
						</div>
					</div>
					<!--footer-inner-->

					<!-- BEGIN SIMPLE FOOTER -->
				</footer>
				<!-- End For version 1,2,3,4,6 -->

			</div>
		</div>
		<!--page-->

		<!-- Mobile Menu--> 
		<div id="mobile-menu">
			<ul class="mobile-menu">
				<li>
					<a class="glyphicon glyphicon-chevron-left" aria-hidden="true" href="#"></a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/shopping-cart">Meu Carrinho</a>
				</li>
				<li>
					<a href="#">Produtos</a>
					<ul>
						<li><a href="grid.html">Frutas</a></li>
						<li><a href="list.html">Sopa creme</a></li>
						<li><a href="product-detail.html">Sopa com pedaços</a></li>
						<li>
							<a href="shopping-cart.html">Linha Single</a>
							<ul>
								<li><a href="checkout-method.html">Sobremesas</a> </li>
							</ul>
						</li>
						<li>
							<a href="checkout.html">Linha Emporinho</a>
							<ul>
								<li><a href="checkout-method.html">Risotos</a> </li>
								<li><a href="checkout-method.html">Massas</a> </li>
								<li><a href="checkout-method.html">Escondidinhos</a> </li>
								<li><a href="checkout-method.html">Arroz</a> </li>
								<li><a href="checkout-method.html">Legumes</a> </li>
								<li><a href="checkout-method.html">Sopas/Cremes</a> </li>
								<li><a href="checkout-method.html">Refeições Combinadas</a> </li>
							</ul>
						</li>
						<li><a href="shopping-cart.html">Acessórios</a></li>
					</ul>
				</li>
				<li> <a href="wishlist.html">Sobre nós</a> </li>
				<li> <a href="dashboard.html">Blog</a> </li>
			</ul>
		</div>  

		<!-- JavaScript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/revslider.js"></script>
		<script type="text/javascript" src="static/js/common.js"></script>
		<script type="text/javascript" src="static/js/countdown.js"></script> 
		<script type="text/javascript" src="static/js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.mobile-menu.min.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>
	</html>
