<!DOCTYPE html>
<html lang="pt">
{% include "head.html" %}
<body>
	<div id="page">
		{% include "header.html" %}

		{% block content %}
		{% endblock %}

		{% include "footer.html" %}
	</div>

{% include "mobile-menu.html" %}

<!-- JavaScript -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/revslider.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/countdown.js"></script> 
<script type="text/javascript" src="static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/jquery.mobile-menu.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
