{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% include "page-heading.html" %}
<!-- BEGIN Main Container col2-right -->
<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9 wow bounceInUp animated animated" style="visibility: visible;">
        <ol class="one-page-checkout" id="checkoutSteps">
          <li id="opc-billing" class="section allow">
            <div class="step-title"> <span class="number">1</span>
              <h3 class="one_page_heading">Endereço de entrega</h3>
            </div>
            <div id="checkout-step-billing" class="step a-item" style="display:none;">
              <form id="co-billing-form" action="#">
                <fieldset class="group-select">
                  <ul class="">
                    <li id="billing-new-address-form">
                      <fieldset>
                        <input type="hidden" name="billing[address_id]" value="27006" id="billing:address_id">
                        <ul>
                          <li class="fields">
                            <div class="customer-name">
                              <div class="input-box name-firstname">
                                <label for="billing:firstname">Nome<span class="required">*</span></label>
                                <div class="input-box1">
                                  <input type="text" id="billing:firstname" name="billing[firstname]" value="john" title="First Name" maxlength="255" class="input-text required-entry">
                                </div>
                              </div>
                              <div class="input-box name-lastname">
                                <label for="billing:lastname">Sobrenome<span class="required">*</span></label>
                                <div class="input-box1">
                                  <input type="text" id="billing:lastname" name="billing[lastname]" value="doe" title="Last Name" maxlength="255" class="input-text required-entry">
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="fields">
                            <div>
                              <div class="input-box-address">
                                <label for="billing:city">Endereço<em class="required">*</em></label>
                                <input type="text" title="City" name="billing[city]" value="AL" class="input-text  required-entry" id="billing:city">
                              </div>
                              <div class="input-box-number">
                                <label for="billing:city">Número<em class="required">*</em></label>
                                <input type="text" title="City" name="billing[city]" value="AL" class="input-text  required-entry" id="billing:city">
                              </div>
                            </div>
                          </li>
                          <li class="wide">
                            <label for="billing:street1">Complemento</label>
                            <br>
                            <input type="text" title="Street Address 2" name="billing[street][]" id="billing:street2" value="" class="input-text ">
                          </li>
                          <li class="fields">
                            <div class="input-box">
                              <label for="billing:country_id">Estado<em class="required">*</em></label>
                              <select name="billing[country_id]" id="billing:country_id" class="validate-select" title="Country">
                                <option value="">Selecione um estado</option>
                                <option value="AF">SP</option>
                                <option value="AX">RJ</option>
                                <option value="AL">MG</option>
                              </select>
                            </div>
                            <div class="input-box">
                              <label for="billing:country_id">Cidade<em class="required">*</em></label>
                              <select name="billing[country_id]" id="billing:country_id" class="validate-select" title="Country">
                                <option value="">Selecione uma cidade</option>
                                <option value="AF">São José dos Campos</option>
                                <option value="AX">Jacarei</option>
                              </select>
                            </div>
                          </li>
                          <li class="fields">
                            <div class="input-box">
                              <label for="billing:fax">CEP<em class="required">*</em></label>
                              <input type="text" name="billing[fax]" value="00000-000" title="Fax" class="input-text " id="billing:fax">
                            </div>
                            <div class="input-box">
                              <label for="billing:telephone">Telefone<em class="required">*</em></label>
                              <input type="text" name="billing[telephone]" value="(11) 98140-5682" title="Telephone" class="input-text  required-entry" id="billing:telephone">
                            </div>
                          </li>
                        </ul>
                        <div class="remember-me-popup">
                          <div class="remember-me-popup-head" style="display:none">
                            <h3 id="text2">What's this?</h3>
                            <a href="#" class="remember-me-popup-close" onClick="showDiv()" title="Close">Close</a> </div>
                            <div class="remember-me-popup-body" style="display:none">
                              <p id="text1">Checking "Remember Me" will let you access your shopping cart on this computer when you are logged out</p>
                              <div class="remember-me-popup-close-button a-right"> <a href="#" class="remember-me-popup-close button" title="Close" onClick="
                                showDiv()"><span>Close</span></a> </div>
                              </div>
                            </div>

                            <script>
                             function showDiv()
                             {

                              if(document.getElementById('text1').style.display == "") 
                              {
                                document.getElementById('text1').style.display = "none";
                                document.getElementById('text2').style.display = "none";

                              }
                              else
                              {
                                document.getElementById('text1').style.display = "";
                              }




                            }
                          </script>
                        </fieldset>
                      </li>
                    </ul>
                    <div class="buttons-set" id="billing-buttons-container">
                      <p class="required">* Campos obrigatórios</p>
                      <button type="button" title="Continue" class="button continue" onClick="billing.save()"><span>Continuar</span></button>
                    </fieldset>
                  </form>

                </div>
              </li>
              <li id="opc-shipping" class="section active">
                <div class="step-title"> <span class="number">2</span>
                  <h3 class="one_page_heading"> Informações da compra</h3>
                </div>
                <div id="checkout-step-shipping" class="step a-item">
                  {% with cart_table_editable=cart_table_editable %}
                    {% include "cart-table.html" %}
                  {% endwith %}
                  <button type="button" title="Continue Shopping" class="button btn-edit-items" onClick=""><span><span>Editar items</span></span></button>
                  <div class="total">
                    {% include "total-table.html" %}
                  </div>
                  <button type="button" title="Continue" class="button continue" onClick="billing.save()"><span>Continuar</span></button>
                </div>
              </li>
              <li id="opc-shipping_method" class="section">
                <div class="step-title"> <span class="number">3</span>
                  <h3 class="one_page_heading"> Shipping Method</h3>
                </div>
                <div id="checkout-step-shipping_method" class="step a-item" style="display:none;">
                  <form id="co-shipping-method-form" action="#">
                    <div id="checkout-shipping-method-load">
                      <p>Sorry, no quotes are available for this order at this time.</p>
                    </div>

                    <div id="onepage-checkout-shipping-method-additional-load"> 

                    </div>
                    <div class="buttons-set" id="shipping-method-buttons-container">
                      <button type="button" class="button continue" onClick="shippingMethod.save()"><span>Continue</span></button>
                      <a href="#" onClick="checkout.back(); return false;"><small>« </small>Back</a> <span id="shipping-method-please-wait" class="please-wait" style="display:none;"> <img src="images/opc-ajax-loader.gif" alt="Loading next step..." title="Loading next step..." class="v-middle"> Loading next step... </span> </div>
                    </form>
                  </div>
                </li>
                <li id="opc-payment" class="section">
                  <div class="step-title"> <span class="number">4</span>
                    <h3 class="one_page_heading"> Payment Information</h3>
                  </div>
                  <div id="checkout-step-payment" class="step a-item" style="display:none;"> 

                    <form action="#" id="co-payment-form">
                      <fieldset>
                        <dl class="sp-methods" id="checkout-payment-method-load">
                          <!-- Content dynamically loaded. Content from the methods.phtml is loaded during the ajax call -->
                        </dl>
                      </fieldset>
                    </form>
                    <div class="tool-tip" id="payment-tool-tip" style="display:none;">
                      <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="Close">Close</a></div>
                      <div class="tool-tip-content"></div>
                    </div>
                    <div class="buttons-set" id="payment-buttons-container">
                      <p class="required">* Required Fields</p>
                      <button type="button" class="button continue" onClick="payment.save()"><span>Continue</span></button>
                      <a href="#" onClick="checkout.back(); return false;"><small>« </small>Back</a> <span class="please-wait" id="payment-please-wait" style="display:none;"> <img src="images/opc-ajax-loader.gif" alt="Loading next step..." title="Loading next step..." class="v-middle"> Loading next step... </span> </div>

                    </div>
                  </li>
                  <li id="opc-review" class="section">
                    <div class="step-title"> <span class="number">5</span>
                      <h3 class="one_page_heading"> Order Review</h3>
                    </div>
                    <div id="checkout-step-review" class="step a-item" style="display:none;">
                      <div class="order-review" id="checkout-review-load"> 
                        <!-- Content loaded dynamically --> 
                      </div>
                    </div>
                  </li>
                </ol>

                <br>
              </section>
              <aside class="col-right sidebar col-sm-3 wow bounceInUp animated animated" style="visibility: visible;">
                <div id="checkout-progress-wrapper">
                  <div class="block block-progress">
                    <div class="block-title"> Your Checkout </div>
                    <div class="block-content">
                      <div>
                        <div id="billing-progress-opcheckout">
                          <span> Billing Address</span>
                        </div>
                        <div id="shipping-progress-opcheckout">
                          <span> Shipping Address</span>
                        </div>
                        <div id="shipping_method-progress-opcheckout">
                          <span> Shipping Method</span>
                        </div>
                        <div id="payment-progress-opcheckout">
                          <span> Payment Method</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
              <!--col-right sidebar--> 
            </div>
            <!--row--> 
          </div>
          <!--main-container-inner--> 
        </div>

        {% endblock %}
        {% block scripts %}
        {% endblock %}
