{% extends "base.html" %}
{% block title %}Sobre nós{% endblock %}
{% block content %}
<!-- BEGIN Main Container -->  
{% include "page-heading.html" %}

<div class="main container">                     
	<div class="std">
		<div class="wrapper_bl" style="margin-top: 1px;">
			<div class="form_background faq-container">
				<ol>
					<li>
						<p>Pergunta 1?</p>
						<p>Resposta 1</p>
					</li>
					<li>
						<p>Pergunta 2?</p>
						<p>Resposta 2</p>
					</li>
					<li>
						<p>Pergunta 3?</p>
						<p>Resposta 3</p>
					</li>
				</ol>
			</div>
		</div>
	</div>          
</div>
<!--main-container-->
{% endblock %}