{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block title %}Envio de recuperação de senha{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
  {% include "page-heading.html" %}
{% endwith %}

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
  <div class="main">                     
    <div class="account-login container">
      <form action="#" method="post">
        <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
        <div class="registered-users">
          <div class="ok-icon-container">
            <img src="static/images/ok_icon.png" width="64px">
          </div>
          <strong>Envio do email de recuperação de senha</strong>             
          <div class="content">
            <p>Em menos de 1 minuto o email de recuperação de senha será enviado para:</p>
            <ul class="form-list">
              <li>
                <span class="label label-primary email-label">{{data['email']}}</span>
              </li>
            </ul>
            <div class="buttons-set">
              <a href="{{url_for('home')}}"><button type="button" title="Voltar para home" class="button"><span><span>Voltar para Home</span></span></button></a>
            </div>
          </div>        
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}