<header>
	<div id="header">
		<div class="header-account">
			<div class="header-container container">
				<div class="row">
					<span class="header-account-row-welcome-text"><b>Seja bem vindo</b></span>
					{% if not data["logged"] %}
						<span class="header-account-row-right-part"><a href="{{url_for('login')}}"><b><u>Entre</u></b></a> ou <a href="{{url_for('create_account')}}"><b><u>Cadastre-se</u></b></a></span>
					{% else %}
						<span class="header-account-row-right-part"><a href="{{url_for('my_account')}}"><b><u>Minha conta</u></b></a></span>
					{% endif %}
				</div>
			</div>
			<div class="header-main">
				<div class="header-container container">
					<div class="row">
						<div class="logo"> 
							<a href="/" title="Home">
							<div>
								<img class="logo-img" src="/static/images/logo.png" alt="Logo da loja">
								<img class="mini-logo-img" src="/static/images/mini-logo.png" alt="Logo da loja">
							</div>
							</a> 
						</div>
						<div class="fl-nav-menu">
							<nav>
								<div class="mm-toggle-wrap">
									<div class="mm-toggle">
										<i class="icon-align-justify"></i><span class="mm-label">Menu</span> 
									</div>
								</div>
								<div class="nav-inner">
									{% if data["menu_data"] and data["menu_data"]|length > 0 %}
										<ul id="nav" class="hidden-xs">
											{% for menu_item in data["menu_data"] %}
												<li class="mega-menu">
													<a href="{{ menu_item['href'] }}" class="level-top"><span>{{ menu_item["name"].decode('utf-8') }}</span></a>
													{% if menu_item["children"] and menu_item["children"]|length > 0 %}
														<div class="level0-wrapper dropdown-6col">
															<div class="container">
																<div class="level0-wrapper2">
																	<div class="nav-block nav-block-center">
																		<ul class="level0">
																			{% for children1 in menu_item["children"] %}
																				<li class="level1 nav-6-1 parent item">
																					<a href="{{children1['href']}}"><span>{{children1['name'].decode('utf-8')}}</span></a>
																					{% if children1["children"] and children1["children"]|length > 0 %}
																						<ul class="level1">
																							{% for children2 in children1["children"] %}
																								<li class="level2 nav-6-1-1">
																									<a href="{{children2['href']}}"><span>{{children2['name'].decode('utf-8')}}</span></a>
																								</li>
																							{% endfor %}
																						</ul>
																					{% endif %}
																				</li>
																			{% endfor %}
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													{% endif %}
												</li>
											{% endfor %}
										</ul>
										{% endif %}
								</div>
							</nav>
						</div>
					</div>
					<div class="fl-header-right">
						<div class="fl-cart-contain">
							<div class="mini-cart">
								<div class="basket"> <a href="/shopping-cart"> </a> </div>
								<div class="fl-mini-cart-content">
									<div class="block-subtitle">
										<div class="top-subtotal">{{data["cart_data"]["n_items"]}} items, <span class="price">{{data["cart_data"]["total_price"]}}</span></div>
									</div>
									{% if data["cart_data"]["products"] and data["cart_data"]["products"]|length > 0 %}
										<ul class="mini-products-list" id="cart-sidebar">
											{% for product in data["cart_data"]["products"] %}
												<li class="item first">
													<div class="item-inner">
														<a class="product-image" title="{{product['title'].decode('utf-8')}}" href="{{product['href']}}"><img alt="{{product['title'].decode('utf-8')}}" src="{{product['img_src']}}"></a>
														<div class="product-details">
															<strong>{{product["quantity"]}}</strong> x <span class="price">{{product["unity_price"]}}</span>
															<p class="product-name"><a href="product-detail.html">{{product['title'].decode('utf-8')}}</a></p>
														</div>
													</div>
												</li>
											{% endfor %}
										</ul>
										<div class="actions">
											<a href="{{url_for('checkout', step=1)}}"><button class="btn-checkout" title="Finalizar compra" type="button" ><span>Finalizar compra</span></button></a>
											<a href="{{url_for('cart')}}"><button class="view-cart" title="Ver carrinho" type="button"><span>Ver Carrinho</span></button></a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="collapse navbar-collapse search-input-container">
							<form action="{{url_for('products_by_search', page=1, sort_method=0)}}" class="navbar-form" role="search" method="get">
								<div class="input-group">
									<input class="GlobalNavSearch js-globalSearchInput " placeholder="Buscar" id="desktopSearchInput"  data-reactid=".1.0.0.0" name="q">
									<label class="GlobalNavSearch-searchIcon" for="desktopSearchInput" data-reactid=".1.0.0.1"></label>  
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div> 
</header>