<header>
	<div id="header">
		<div class="header-account">
			<div class="header-container container">
				<div class="row">
					<span class="header-account-row-welcome-text"><b>Seja bem vindo</b></span>
					<span class="header-account-row-login-or-signir-text"><a href="/login"><b><u>Entre</u></b></a> ou <a href="/signin"><b><u>Cadastre-se</u></b></a></span>
				</div>
			</div>

			<div class="header-main">
				<div class="header-container container">
					<div class="row">
						<div class="logo"> 
							<a href="/" title="Home">
								<div>
									<img class="logo-img" src="static/images/logo.png" alt="Logo da loja">
									<img class="mini-logo-img" src="static/images/mini-logo.png" alt="Logo da loja">
								</div>
							</a> 
						</div>
						<div class="fl-nav-menu">
							<nav>
								<div class="mm-toggle-wrap">
									<div class="mm-toggle">
										<i class="icon-align-justify"></i><span class="mm-label">Menu</span> 
									</div>
								</div>
								<div class="nav-inner">
									<!-- BEGIN NAV -->
									<ul id="nav" class="hidden-xs">
										<li class="mega-menu"><a href="/products" class="level-top"><span>Produtos</span></a>
											<div class="level0-wrapper dropdown-6col">
												<div class="container">
													<div class="level0-wrapper2">
														<div class="nav-block nav-block-center">
															<ul class="level0">
																<li class="level1 nav-6-1 parent item"><a href="#/mobiles.html"><span>Frutas</span></a>
																</li>
																<li class="level1 nav-6-1 parent item"><a href="#.html" class=""><span>Sopa creme</span></a>
																</li>
																<li class="level1 nav-6-1 parent item"><a href="#/cameras.html"><span>Sopa com pedaços</span></a>
																</li>
																<li class="level1 nav-6-1 parent item"><a href="#/audio-video.html"><span>Linha Single</span></a>
																	<ul class="level1">
																		<li class="level2 nav-6-1-1"><a href="#/audio-video/video-players.html"><span>Sobremesas</span></a></li>
																	</ul>
																</li>
																<li class="level1 nav-6-1 parent item">
																	<a href="#/computer.html"><span>Linha Emporinho</span></a>
																	<ul class="level1">
																		<li class="level2 nav-6-1-1">
																			<a href="#/external-hard-disk.html"><span>Risotos</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/pendrives.html"><span>Massas</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/headphones.html"><span>Escondidinhos</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/pc-components.html"><span>Arroz</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/pc-components.html"><span>Legumes</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/pc-components.html"><span>Sopas/Cremes</span></a>
																		</li>
																		<li class="level2 nav-6-1-1">
																			<a href="#/computer/pc-components.html"><span>Refeições Combinadas</span></a>
																		</li>
																	</ul>
																</li>
																<li class="level1 nav-6-1 parent item"><a href="#/home-appliances.html"><span>Acessórios</span></a>
																</li>
															</ul>
														</div>
													</div>
													<!--level0-wrapper2--> 

												</div>
											</div>
										</li>
										<li class="mega-menu"> <a class="level-top" href="/blog"><span>Blog</span></a> </li>
									</ul>
									<!--nav-->
								</div>
							</nav>
						</div>
						<!--row-->
					</div>
					<div class="fl-header-right">
						<div class="fl-cart-contain">
							<div class="mini-cart">
								<div class="basket"> <a href="/shopping-cart"> </a> </div>
								<div class="fl-mini-cart-content">
									<div class="block-subtitle">
										<div class="top-subtotal">5 items, <span class="price">R$ 32,60</span></div>
										<!--top-subtotal-->
										<!--pull-right-->
									</div>
									<!--block-subtitle-->
									<ul class="mini-products-list" id="cart-sidebar">
										<li class="item first">
											<div class="item-inner"><a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="#l"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="static/images/products/p4.jpg"></a>
												<div class="product-details">
													<div class="access"><a class="btn-remove1" title="Remover esse item" href="#">Remover</a> <a class="btn-edit" title="Editar item" href="#"><i class="icon-pencil"></i><span class="hidden">Editar item</span></a> </div>
													<!--access-->
													<strong>2</strong> x <span class="price">R$ 10,00</span>
													<p class="product-name"><a href="product-detail.html">Papinha de maça - 500g</a></p>
												</div>
											</div>
										</li>
										<li class="item last">
											<div class="item-inner"><a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="#l"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="static/images/products/p4.jpg"></a>
												<div class="product-details">
													<div class="access"><a class="btn-remove1" title="Remover esse item" href="#">Remover</a> <a class="btn-edit" title="Editar item" href="#"><i class="icon-pencil"></i><span class="hidden">Editar item</span></a> </div>
													<!--access-->
													<strong>3</strong> x <span class="price">R$ 4,20</span>
													<p class="product-name"><a href="product-detail.html">Papinha de arroz doce - 200g</a></p>
												</div>
											</div>
										</li>
									</ul>
									<div class="actions">
										<button class="btn-checkout" title="Checkout" type="button" onClick="window.location=checkout.html"><span>Finalizar compra</span></button>
										<button class="view-cart" title="Checkout" type="button" onClick="window.location=checkout.html"><span>Ver Carrinho</span></button>
									</div>
									<!--actions-->
								</div>
								<!--fl-mini-cart-content-->
							</div>
						</div>
						<!--mini-cart-->
						<div class="collapse navbar-collapse search-input-container">
							<form class="navbar-form" role="search">
								<div class="input-group">
									<input class="GlobalNavSearch js-globalSearchInput " placeholder="Buscar" id="desktopSearchInput"  data-reactid=".1.0.0.0">
									<label class="GlobalNavSearch-searchIcon" for="desktopSearchInput" data-reactid=".1.0.0.1"></label>  
								</div>
							</form>
						</div>
						<!--links-->
					</div>
				</div>
			</div>
		</div> 
	</div> 
</header>