<!-- Mobile Menu--> 
<div id="mobile-menu">
	<ul class="mobile-menu">
		<li>
			<a class="glyphicon glyphicon-chevron-left" aria-hidden="true" href="#"></a>
		</li>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/shopping-cart">Meu Carrinho</a>
		</li>
		<li>
			<a href="#">Produtos</a>
			<ul>
				<li><a href="grid.html">Frutas</a></li>
				<li><a href="list.html">Sopa creme</a></li>
				<li><a href="product-detail.html">Sopa com pedaços</a></li>
				<li>
					<a href="shopping-cart.html">Linha Single</a>
					<ul>
						<li><a href="checkout-method.html">Sobremesas</a> </li>
					</ul>
				</li>
				<li>
					<a href="checkout.html">Linha Emporinho</a>
					<ul>
						<li><a href="checkout-method.html">Risotos</a> </li>
						<li><a href="checkout-method.html">Massas</a> </li>
						<li><a href="checkout-method.html">Escondidinhos</a> </li>
						<li><a href="checkout-method.html">Arroz</a> </li>
						<li><a href="checkout-method.html">Legumes</a> </li>
						<li><a href="checkout-method.html">Sopas/Cremes</a> </li>
						<li><a href="checkout-method.html">Refeições Combinadas</a> </li>
					</ul>
				</li>
				<li><a href="shopping-cart.html">Acessórios</a></li>
			</ul>
		</li>
		<li> <a href="wishlist.html">Sobre nós</a> </li>
		<li> <a href="dashboard.html">Blog</a> </li>
	</ul>
</div>