{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% include "page-heading.html" %}

<!-- BEGIN Main Container -->  

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     

 <div class="main">                     
  <div class="account-login container">
    <!--page-title-->

    <form action="#" method="post" id="login-form">
      <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
      <div class="registered-users">
       <strong>Definição de nova senha</strong>             
       <div class="content">
        <ul class="form-list">
          <li>
          <label for="pass">Nova senha:</label>
            <div class="input-box">
              <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
            </div>
          </li>
          <li>
            <label for="pass">Confirmação da nova senha:</label>
            <div class="input-box">
              <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
            </div>
          </li>
        </ul>

        <div class="buttons-set">

          <button type="submit" class="button login" title="Login" name="send" id="send2"><span>Ok</span></button>
        </div> <!--buttons-set-->

      </div> <!--content-->                               
    </div> <!--col-2 registered-users-->
  </form>

</div> <!--account-login-->

</div><!--main-container-->  
{% endblock %}
{% block scripts %}

{% endblock %}


