<div class="page-heading">
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				{% if data["path"] and data["path"]|length > 0 %}
					<div>
						<ul>
							{% for item in data["path"] %}
								<li> 
									{% if item["href"] %}
										<a href="{{item['href']}}" title="{{item['name'].decode('utf-8')}}">{{item['name'].decode('utf-8')}}</a>
									{% else %}
										{{item['name'].decode('utf-8')}}
									{% endif %}
									{% if not loop.last %}
										<span>&rsaquo; </span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<!--col-xs-12--> 
				<div class="page-title">
					<h2>{{data['title'].decode('utf-8')}}</h2>
				</div>
				<!--row--> 
			</div>
		</div>
		<!--container--> 
	</div>
</div>