<table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
 <tfoot>
  <tr>
    <td style="" class="a-left" colspan="1">
      <strong>Total</strong>
    </td>
    <td style="" class="a-right">
      <strong><span class="price">R$ 37,60</span></strong>
    </td>
  </tr>
</tfoot>
<tbody>
  <tr>
    <td style="" class="a-left" colspan="1">Produtos</td>
    <td style="" class="a-right"><span class="price">R$ 32,60</span></td>
  </tr>
  <tr>
    <td style="" class="a-left" colspan="1">Frete</td>
    <td style="" class="a-right"><span class="price">R$ 5,00</span></td>
  </tr>
</tbody>
</table>