{% extends "shared/base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
  {% include "shared/page-heading.html" %}
{% endwith %}
<div class="main-container">
  <div class="main container">
    {% if data["posts"] and data["posts"]|length > 0 %}
      <div id="main" class="blog-wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            {% for post in data["posts"] %}
              <article id="post-29" class="blog_entry clearfix wow bounceInUp animated animated" style="visibility: visible;">
                <div class="blog_entry-header clearfix">
                  <div class="blog_entry-header-inner row">
                    <h2 class="blog_entry-title"><a href="{{url_for('blog_post', blog_post_id=post['id'])}}">{{ post["title"] }}</a></h2>
                    <div class="entry-meta">
                      <div class="entry-date">{{ post["date"] }}</div></div>
                  </div>
                </div>
                <div class="entry-content">
                  <div class="featured-thumb"><a href="{{url_for('blog_post', blog_post_id=post['id'])}}"><img src="{{post['thumbnail_href']}}" alt="Thumbnail da postagem"></a></div>
                  <div class="entry-content">
                    {{ post["summary"]|safe }}
                  </div>
                  <div class="centered-content-container">
                    <a href="{{url_for('blog_post', blog_post_id=post['id'])}}"><button title="Ler mais" class="button"><span>Ler mais</span></button></a>
                  </div>
                </div>
              </article>
            {% endfor %}       
          </div>
          <div class="pager">
            {% with data=data["paginator_data"] %}
              {% include "shared/paginator.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
    {% else %}
      {% with msg="Nenhuma postagem encontrada!" %}
        {% include "shared/empty.html" %}
      {% endwith %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/image-video-resizer.js')}}"></script>
{% endblock %}