<div class="centered msg">
  <ul class="form-list no-points">
    <li>
      {% if category == "default" %}
      <span class="label label-default email-label">{{message|safe}}</span>
      {% elif category == "success" %}
      <span class="label label-success email-label">{{message|safe}}</span>
      {% elif category == "info" %}
      <span class="label label-info email-label">{{message|safe}}</span>
      {% elif category == "warning" %}
      <span class="label label-warning email-label">{{message|safe}}</span>
      {% elif category == "danger" %}
      <span class="label label-danger email-label">{{message|safe}}</span>
      {% endif %}
    </li>
  </ul>
</div>