{% extends "shared/base.html" %}
{% block title %}Falha{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
  {% include "shared/page-heading.html" %}
{% endwith %}
<div class="main-container">
  <div class="main container fail-container">
    {% with data=data["msg"] %}
      {% include "shared/alert-msg.html" %}
    {% endwith %}
    {% if data["button"] %}
      <a href="{{data['button']['href']}}"><button type="button" title="{{data['button']['title']}}" class="button"><span>{{data['button']['title']}}</span></button></a>
    {% endif %}
  </div>
</div>
{% endblock %}