.page-header {
    margin-top: 10px;
}

.form input{
    margin-bottom: 8px;
}

.no-points {
    list-style-type:none;
    padding-left: 0px;
}

.input-error {
    margin-bottom: 8px;
}

.msg {
    padding: 8px 0px;
}

.label {
    font-size: 14px;
    padding: 8px;
}

.alert {
    padding: 8px;
}

.input-errors-container {
    display: table;
}

.img-table-first-col {
    width: 110px;
}

.img-in-table {
    max-width: 100px;
    max-height: 100px;
}

.table-action-ul {
    list-style-type:none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.table-action-ul > li:not(:last-child) {
    margin-bottom: 8px;
}