.page-header {
    margin-top: 10px;
}

.form input{
    margin-bottom: 8px;
}

.form button{
    margin-bottom: 8px;
}

.form select{
    margin-bottom: 8px;
}

.form textarea{
    margin-bottom: 8px;
}

.form .markdown-container{
    margin-bottom: 0px;
}

.no-points {
    list-style-type:none;
    padding-left: 0px;
}

.input-error {
    margin-bottom: 8px;
}

.msg {
    padding: 8px 0px;
}

.label {
    font-size: 14px;
    padding: 8px;
}

.alert {
    padding: 8px;
}

.input-errors-container {
    display: table;
}

.img-table-first-col {
    width: 110px;
}

.img-in-table {
    max-width: 100px;
    max-height: 100px;
}

.table-action-ul {
    list-style-type:none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.table-action-ul > li:not(:last-child) {
    margin-bottom: 8px;
}

.br-8px {
    height: 8px;
}

.jumbotron.filter {
    padding: 16px;
    margin-bottom: 8px;
}

textarea {
    width: 40em;
    height: 6em;
}

.popover{
    max-width: 70%;
}

.example-jumbotron {
    padding: 12px 20px !important;
    margin-bottom: 0px;
}

.required-optional {
    font-size: 12px;
}

.label.markdown {
    margin-right: 6px;
    padding: 4px 6px;
}

.input-error {
    padding: 4px 6px !important;
}

.quantity.action-row {
    margin-right: 8px;
}

.action-row:not(:last-child) {
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    textarea {
        width: 30em;
        height: 6em;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        width: 20em;
        height: 6em;
    }
}

td.action {
    text-align: right;
}

tr.removed > td > img {
    filter: grayscale(100%);
}

.table-responsive {
    border: 1px solid #ddd;
}

tr.removed td {
    color: #777;
}

tr.inactive td {
    color: #777;
}

.glyphicon-info-sign {
    margin-left:0px;
}

.collapsible-row > td {
    border-top: none !important;
}

.panel.actions {
    float: right;
}

input.stock-amount {
    width: 85px !important;
}

.btn.action-row{
    width: 100%;
}

.action-row > .input-group {
    width: 100%;
}

.action-row > .input-group > span.input-group-btn {
    width: 100%;
}

.action-row > .input-group > span.input-group-btn > input {
    width: 100%;
}

table .btn.action {
    width: 130px;
    float: right;
}

.actions-container > a {
    width: 100%;
}

.actions-container > form > input, .input-group {
    width: 100%;
}

.actions-container > form > .input-group > .input-group-btn {
    width: 100%;
}

.actions-container > form > .input-group > .input-group-btn > input {
    width: 100%;
}

.actions-container > a,form:not(:last-child) {
    margin-bottom: 8px;
}

.actions-container > a.last,form.last {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.table {
    margin-bottom: 0;
}

.panel.actions{
    margin-bottom: 8px;
}

.table-responsive {
    border-radius: 5px;
}

td {
    vertical-align: middle !important;
}

.jumbotron.filter-container {
    margin-bottom: 0;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-right: 16px !important;
    padding-left: 2px !important;
}

th.min-width {
    width: 1px;
}

select.form-control {
    width: auto;
    vertical-align: center;
    max-width: 250px;
}

.filter-container .form-group {
    margin-bottom: 0;
    /*margin-top: 4px;*/
}

.filter-container select.form-control.category-subcategory {
    /*min-width: 185px;*/
}

.filter-container select.form-control.active {
    /*min-width: 60px;*/
}

.filter-container .filter-item {
    margin-left: 10px;
}

.max-width {
    width: 100%;
}

.filter-item label {
    margin-left: 2px;
}

form.filter-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-item:last-child {
    align-self: flex-end;
}

.empty-msg {
    margin-top: 16px;
}

.paginator-plus-order-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.paginator-container {
    display: inherit;
}

.sort-method-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
}

select.sort-method {
    margin-left: 8px;
}

.paginator-plus-order-row .paginator-container .pagination {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 12px;
}

.table-hover>tbody>tr.not-hover:hover {
    background-color: #fff !important;
}

.add-new-link-container {
    margin-bottom: 16px;
}

.filter-container .total-items {
    padding: 0;
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    align-self: flex-end;
}

.filter-container .filter-item input[type=submit] {
    margin-top: 25px;
    margin-right: 12px;
}