.page-header {
    margin-top: 10px;
}

.form input{
    margin-bottom: 8px;
}

.form button{
    margin-bottom: 8px;
}

.form select{
    margin-bottom: 8px;
}

.form textarea{
    margin-bottom: 8px;
}

.form .markdown-container{
    margin-bottom: 0px;
}

.no-points {
    list-style-type:none;
    padding-left: 0px;
}

.input-error {
    margin-bottom: 8px;
}

.msg {
    padding: 8px 0px;
}

.label {
    font-size: 14px;
    padding: 8px;
}

.alert {
    padding: 8px;
}

.input-errors-container {
    display: table;
}

.img-table-first-col {
    width: 110px;
}

.img-in-table {
    max-width: 100px;
    max-height: 100px;
}

.table-action-ul {
    list-style-type:none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.table-action-ul > li:not(:last-child) {
    margin-bottom: 8px;
}

.br-8px {
    height: 8px;
}

.jumbotron.filter {
    padding: 16px;
    margin-bottom: 8px;
}

textarea {
    width: 40em;
    height: 6em;
}

.popover{
    max-width: 70%;
}

.example-jumbotron {
    padding: 12px 20px !important;
    margin-bottom: 0px;
}

.required-optional {
    font-size: 12px;
}

.label.markdown {
    margin-right: 6px;
    padding: 4px 6px;
}

.input-error {
    padding: 4px 6px !important;
}

.quantity.action-row {
    margin-right: 8px;
}

.action-row {
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    textarea {
        width: 30em;
        height: 6em;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        width: 20em;
        height: 6em;
    }
}