<table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
  <tfoot>
  <tr>
    <td style="" class="a-left" colspan="1">
      <strong>Total</strong>
    </td>
    <td style="" class="a-right">
      <strong><span class="price">{{data["total"]}}</span></strong>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td style="" class="a-left" colspan="1">Produtos</td>
    <td style="" class="a-right"><span class="price">{{data["products_total"]}}</span></td>
  </tr>
  <tr>
    <td style="" class="a-left" colspan="1">Frete</td>
    <td style="" class="a-right"><span class="price">{{data["frete"]}}</span></td>
  </tr>
  </tbody>
</table>