{% import "shared/macros.html" as macros %}

{% extends "customer/shared/base.html" %}
{% block title %}Entrar{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "customer/shared/page-heading.html" %}
{% endwith %}

<div class="main-container wow bounceInUp animated animated" style="visibility: visible;">
  <div class="main">
    <div class="account-login container">
      <form action="{{url_for('login')}}" method="post">
        {{ data["form"].csrf_token }}
        <div class="registered-users">
          <div class="alerts-container">
            {% include "shared/flash_messages.html" %}
          </div>
          <strong>Entrar</strong>
          <div class="content">
            <ul class="form-list">
              <li>
                <label for="email">{{macros.mandatory_mark(True)}}Email</label>
                <div class="input-box">
                  {{macros.input(name="email", id="email", class="input-text required-entry", type="text",
                  title="Email", maxlength="256", editable=True, errors=data["form"].email.errors,
                  value=data.form.email.data)}}
                </div>
              </li>
              <li>
                <label for="pass">{{macros.mandatory_mark(True)}}Senha</label>
                <div class="input-box">
                  {{macros.input(name="password", id="password", class="input-text required-entry", type="password",
                  title="Senha", maxlength="32", editable=True, errors=data["form"].password.errors)}}
                </div>
              </li>
            </ul>
            <p class="required">* Campos obrigatórios</p>
            <div class="buttons-set">
              <button type="submit" class="button login" title="Entrar"><span>Entrar</span></button>
              <a href="{{url_for('recover_password')}}" class="forgot-word">Esqueceu sua senha?</a>
              <a href="{{url_for('create_account')}}">
                <button type="button" title="Create an Account" class="button create-account"><span>Criar conta</span>
                </button>
              </a>
            </div>
            <a href="{{url_for('create_account')}}">
              <button type="button" title="Create an Account" class="button create-account"><span>Criar conta</span>
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}


