{% import "shared/macros.html" as macros %}

{% extends "customer/shared/base.html" %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "customer/shared/page-heading.html" %}
{% endwith %}

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
  <div class="main">
    <div class="account-login container">
      <form method="post">
        {{ data["form"].csrf_token }}
        <div class="registered-users">
          {% include "shared/flash-messages.html" %}
          <strong>Redefinir senha</strong>
          <div class="content">
            <p>Entre com seu email e siga as instruções que serão enviadas.</p>
            <ul class="form-list">
              <li>
                <label>Email:</label>
                <div class="input-box1">
                  {{macros.input(name="email", id="email", class="input-text required-entry", type="text",
                  title="Email", maxlength="256", editable=True, errors=data["form"].email.errors)}}
                </div>
              </li>
            </ul>
            <div class="buttons-set">
              <button type="submit" class="button" title="Recuperar senha"><span>Redefinir senha</span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}