{% import "shared/macros.html" as macros %}

{% extends "customer/shared/base.html" %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "customer/shared/page-heading.html" %}
{% endwith %}

<div class="main-container wow bounceInUp animated animated" style="visibility: visible;">
  <div class="main">
    <div class="account-login container">
      <form action="{{url_for('redefine_password', token=data['token'])}}" method="post">
        {{ data["form"].csrf_token }}
        <div class="registered-users">
          <div class="login-alerts-container">
            {% if data["msgs"] %}
            {% for msg in data["msgs"] %}
            {% with data=msg %}
            {% include "customer/shared/alert-msg.html" %}
            {% endwith %}
            {% endfor %}
            {% endif %}
          </div>
          <strong>Redefinir senha</strong>
          <div class="content">
            <ul class="form-list">
              <li>
                <span class="label label-default email-label width100">{{data["email"]}}</span>
              </li>
              <li>
                <label>Nova senha</label>
                <div class="input-box">
                  {{macros.input(name="password", id="password", class="input-text required-entry", type="password",
                  title="Senha", maxlength="32", editable=True, errors=data["form"].password.errors)}}
                </div>
              </li>
              <li>
                <label>Confirmação da nova senha:</label>
                <div class="input-box1">
                  {{macros.input(name="password_confirmation", id="password_confirmation", class="input-text
                  required-entry", type="password", title="Confirmação da senha", maxlength="32", editable=True,
                  errors=data["form"].password_confirmation.errors)}}
                </div>
              </li>
            </ul>
            <div class="buttons-set">
              <button type="submit" class="button login" title="Entrar"><span>Redefinir</span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}


