{% extends "shared/base.html" %}
{% block title %}Sobre nós{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
	{% include "shared/page-heading.html" %}
{% endwith %}

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
	<div class="main container">                     
		<div class="std">
			<div class="wrapper_bl" style="margin-top: 1px;">
				<div class="form_background">
					<div class="admin-content-container">
						{{ data["content"].decode('utf-8')|safe }}
					</div>
				</div>
			</div>
		</div>          
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/image-video-resizer.js"></script>
{% endblock %}