{% extends "shared/base.html" %}
{% block title %}Sobre nós{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
	{% include "shared/page-heading.html" %}
{% endwith %}

<div class="main container">                     
	<div class="std">
		<div class="wrapper_bl" style="margin-top: 1px;">
			<div class="form_background faq-container">
				{% if data["perguntas_e_respostas"] and data["perguntas_e_respostas"]|length > 0 %}
					<ol>
						{% for pergunta_e_respota in data["perguntas_e_respostas"] %}
							{% if pergunta_e_respota["pergunta"] and pergunta_e_respota["resposta"] %}
								<li>
									<p>{{pergunta_e_respota["pergunta"].decode('utf-8')}}</p>
									<p>{{pergunta_e_respota["resposta"].decode('utf-8')}}</p>
								</li>
							{% else %}
								<li>
									<p></p>
									<p></p>
								</li>
							{% endif %}
						{% endfor %}
					</ol>
				{% endif %}
			</div>
		</div>
	</div>          
</div>
{% endblock %}