<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
  <link rel="icon" href="#" type="image/x-icon">
  <link rel="shortcut icon" href="#" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin_style.css') }}">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>
<body>
  {% with data=data["navbar_data"] %}
  {% include "admin/shared/navbar.html" %}
  {% endwith %}

  <div class="container">
    <div class="page-header">
      <h3>{{self.title()}}</h3>
    </div>

    {% if data["msgs"] %}
      {% for msg in data["msgs"] %}
        {% with data=msg %}
          {% include "shared/alert-msg.html" %}
        {% endwith %}
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
