<form class="filter-container" action="{{ data.filter_data.action }}" method=get>
    <input class="sort-method" name="{{ data.sort_method_query_arg_name }}" hidden>
    {% for field in data.filter_data.form %}
        {% if field.type == "SelectField" %}
            <div class="filter-item">
                <div class="form-group">
                    {{ field.label }}:
                    {{ field(class_="form-control") }}
                </div>
            </div>
        {% elif field.type == "SubmitField" %}
            <div class="filter-item">
                <br>
                {{ field(class_="btn btn-default") }}
            </div>
        {% endif %}
    {% endfor %}
</form>
