<form class="filter-container" method=get>
    {% for field in form %}
        {% if field.type == "SelectField" %}
            <div class="filter-item">
                <div class="form-group">
                    {{ field.label }}:
                    {{ field(class_="form-control") }}
                </div>
            </div>
        {% elif field.type == "SubmitField" %}
            <div class="filter-item">
                <br>
                {{ field(class_="btn btn-default") }}
            </div>
        {% endif %}
    {% endfor %}
</form>
