{% for field in form %}
    {% if field.type == "BooleanField" %}
        {{ field }} {{ field.label }}<br>
    {% elif field.type in ["StringField", "SelectField", "IntegerField"]  %}
        {{ field.label }}
        {% if field.flags.required and field.type != "SelectField" %}
            <span class="required-optional">(Obrigatório)</span>
        {% elif field.type != "SelectField" %}
            <span class="required-optional">(Opcional)</span>
        {% endif %}
        :
        {{ field }}<br>
    {% elif field.type == "TextAreaField" %}
        {{ field.label }}
        {% if field.flags.required %}
            <span class="required-optional">(Obrigatório)</span>
        {% else %}
            <span class="required-optional">(Opcional)</span>
        {% endif %}
        :<br>
        {{ field }}<br>
    {% elif field.type == "FileField" %}
        {{ field }}
    {% elif field.type == "SubmitField" %}
        {{ field }}
        <br>
    {% endif %}
    {% if field.errors and field.errors|length > 0 %}
        <div class="input-errors-container">
            <ul class="no-points">
                {% for error in field.errors %}
                    <li>
                      <div class="alert alert-danger input-error" role="alert">{{error|safe}}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}