{% import "shared/macros.html" as macros %}

{% if data.filter_data %}
    <div class="jumbotron filter-container">
        {% with data=data %}
            {% include "admin/shared/filter_form.html" %}
        {% endwith %}
    </div>
{% endif %}

{% if data.table_data.rows|length > 0 %}
    <div class="paginator-plus-order-row">
        {% with data=data.paginator_data, top=True %}
            {% include "shared/paginator.html" %}
        {% endwith %}

        {% if data.sort_methods and data.sort_method_query_arg_name %}
            <div class="form-group sort-method-container">
                <label class="sort-method" for="select-sort-method">Ordenar por:</label>
                <select id="select-sort-method" name="{{ data.sort_method_query_arg_name }}"
                        class="form-control sort-method">
                    {% for sort_method in data.sort_methods %}
                        <option value="{{ sort_method.value }}" {{ macros.get_if('selected', sort_method.selected) }}>{{ sort_method.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

    <div class="table-responsive {{ macros.get_if('without-bottom-paginator', data.paginator_data.pages|length <= 1) }}">
        <table id="{{ macros.get_if(data.table_data.id, data.table_data.id) }}" class="table table-hover">
            <thead>
            <tr>
                {% for col in data.table_data.cols %}
                    <th id="{{ col.id }}" class="{{ macros.get_if('min-width', col.id=='actions') }}">
                        {% if col.title %}
                            {{ col.title }}{{ macros.info_tooltip(col.tooltip) }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data.table_data.rows %}
                {% set row_idx = loop.index0 %}
                <tr id="row-{{ row_idx }}">
                    {% for td in row %}
                        {% set vertical_align_middle = data.table_data|ignore_undefined("settings.vertical_align_middle") %}
{#                        {% set vertical_align_middle = data|attr("table_data")|attr("settings")|attr("vertical_align_middle") %}#}
                        <td id="col-{{ data.table_data.cols[loop.index0].id }}-row-{{ row_idx }}"
                            class="{{ macros.get_if('vertical-align-middle', vertical_align_middle) }}">
                            {% set col_type=data.table_data.cols[loop.index0].type %}
                            {% if col_type == "actions" %}
                                {% set expandable=data.table_data.cols[loop.index0].expandable %}
                                {% if expandable %}
                                    <button class="btn btn-default action" type="button" id="action-btn-{{ row_idx }}"
                                            target_id="collapsible-row-{{ row_idx }}">
                                        Exibir ações <span class="glyphicon glyphicon-menu-down"></span>
                                    </button>
                                {% else %}
                                    {% with data=td.data %}
                                        {% include td.file_path %}
                                    {% endwith %}
                                {% endif %}
                            {% elif col_type == "bool" %}
                                {{ macros.get_bool_glyphicon(td) }}
                            {% elif col_type == "image" %}
                                {% with data=td.data %}
                                    {% include td.file_path %}
                                {% endwith %}
                            {% else %}
                                {{ td }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% for td in row %}
                    {% set col_type=data.table_data.cols[loop.index0].type %}
                    {% set expandable=data.table_data.cols[loop.index0].expandable %}
                    {% if col_type == "actions" and expandable %}
                        <tr class="collapsible-row not-hover" id="collapsible-row-{{ row_idx }}"
                            action-btn-id="action-btn-{{ row_idx }}" style="display: none;">
                            <td id="col-{{ data.table_data.cols[loop.index0].id }}-row-{{ row_idx }}"
                                colspan="{{ data.table_data.cols|length }}">
                                {% with data=td.data %}
                                    {% include td.file_path %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% with data=data.paginator_data, bottom=True %}
        {% include "shared/paginator.html" %}
    {% endwith %}
{% else %}
    <p class="empty-msg">{{ data.empty_msg }}</p>
{% endif %}