{% import "shared/macros.html" as macros %}

{% if data.filter_form %}
    <div class="jumbotron filter-container">
        {% with form=data.filter_form %}
            {% include "admin/shared/filter_form.html" %}
        {% endwith %}
    </div>
{% endif %}

{% if data.table_data.rows|length > 0 %}
    <div class="paginator-plus-order-row">
        {% with data=data.paginator_data %}
            {% include "shared/paginator.html" %}
        {% endwith %}

        <div class="form-group sort-method-container">
          <label>Ordenar por:</label>
          <select class="form-control sort-method">
            <option>Nome</option>
            <option>Maior estoque</option>
            <option>Menor estoque</option>
            <option>Mais vendido</option>
            <option>Menos vendido</option>
          </select>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                {% for col in data.table_data.cols %}
                    <th id="{{ col.id }}" class="{{ macros.append_class_if('min-width', col.id=='actions') }}">
                        {% if col.title %}
                            {{ col.title }}{{ macros.info_tooltip(col.tooltip) }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data.table_data.rows %}
                {% set row_idx = loop.index0 %}
                <tr id="row-{{ row_idx }}">
                    {% for td in row %}
                        <td id="col-{{ data.table_data.cols[loop.index0].id }}-row-{{ row_idx }}">
                            {% if data.table_data.cols[loop.index0].id == "actions" %}
                                {% set actions_data = td %}
                                <button class="btn btn-default action" type="button" id="action-btn-{{ row_idx }}"
                                        data-toggle="collapse" data-target="#collapsible-row-{{ row_idx }}"
                                        aria-expanded="false"
                                        aria-controls="collapsible-row-{{ row_idx }}">
                                    Exibir ações <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                            {% else %}
                                {{ td }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% for td in row %}
                    {% if data.table_data.cols[loop.index0].id == "actions" %}
                        <tr class="collapse collapsible-row" id="collapsible-row-{{ row_idx }}"
                            action-btn-id="action-btn-{{ row_idx }}">
                            <td id="col-{{ data.table_data.cols[loop.index0].id }}-row-{{ row_idx }}"
                                colspan="{{ data.table_data.cols|length }}">
                                {% with data=td %}
                                    {% include "admin/products/actions.html" %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% with data=data.paginator_data %}
        {% include "shared/paginator.html" %}
    {% endwith %}
{% else %}
    <p class="empty-msg">{{ data.empty_msg }}</p>
{% endif %}