{% extends "customer/shared/base.html" %}
{% block title %}Meu Carrinho{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "customer/shared/page-heading.html" %}
{% endwith %}

<div class="main-container col1-layout wow bounceInUp animated">
  <div class="main container">
    <div class="cart wow bounceInUp animated">
      <div class="table-responsive shopping-cart-tbl  container">
        <form action="#" method="post">
          <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
          <fieldset>
            {% with data=data["cart_table_data"] %}
            {% include "customer/cart/cart-table.html" %}
            {% endwith %}
          </fieldset>
        </form>
      </div>
      <div class="cart-collaterals container total-cart">
        <div class="totals">
          <h3>Total da compra</h3>
          <div class="inner">
            {% with data=data["total_table_data"] %}
            {% include "customer/shared/total-table.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="back-to-my-account-btn-container">
        <a href="{{url_for('my_account')}}">
          <button type="submit" class="button" title="Voltar para minha conta">Voltar para minha conta</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}