{% extends "admin/shared/base.html" %}

{% block title %}Imagens{% endblock %}

{% block content %}
  {% if data["msgs"] %}
    {% for msg in data["msgs"] %}
      {% with data=msg %}
        {% include "shared/alert-msg.html" %}
      {% endwith %}
    {% endfor %}
  {% endif %}

  {% with data=data["paginator_data"] %}
    {% include "shared/paginator.html" %}
  {% endwith %}

  {% if not data["empty"] %}
    <table class="table">
      <thead>
        <tr>
          <th class="img-table-first-col"></th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for image_name in data["images_name"] %}
          <tr>
            <td><img class="img-in-table" src="{{url_for('static', filename='uploads/images/'+image_name)}}"></td>
            <td>{{image_name}}</td>
            <td>
              <!-- TODO: Protect this and other posts against CSRF attacks -->
              <form action="{{url_for('admin_remove_image', image_name=image_name, page_to_return=data['page'])}}" method=post enctype=multipart/form-data>
                <input type=submit value=Remover>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhuma imagem encontrada.</p>
  {% endif %}

  {% with data=data["paginator_data"] %}
    {% include "shared/paginator.html" %}
  {% endwith %}
{% endblock %}