{% extends "admin/shared/base.html" %}

{% block title %}Imagens{% endblock %}

{% block content %}
  <a href="{{url_for('admin_add_image')}}">Adicionar nova imagem</a>
  <div class="br-8px"></div>

  {% if not data["empty"] %}
    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}

    <table class="table">
      <thead>
        <tr>
          <th class="img-table-first-col"></th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for image_name in data["images_name"] %}
          <tr>
            <td><img class="img-in-table" src="{{url_for('static', filename='uploads/images/'+image_name)}}"></td>
            <td>{{image_name}}</td>
            <td>
              <form class="remove-form" action="{{url_for('admin_remove_image', image_name=image_name, page_to_return=data['page'])}}" method=post enctype=multipart/form-data>
                {{ data["remove_form"].csrf_token }}
                <input type=submit value=Remover>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with data=data["paginator_data"] %}
      {% include "shared/paginator.html" %}
    {% endwith %}
  {% else %}
    <p>Nenhuma imagem foi encontrada.</p>
  {% endif %}

{% endblock %}

{% block scripts %}
<script>
  $(".remove-form").submit(function() {
      var c = confirm("Tem certeza que deseja remover a imagem? Se algum produto utilizar está imagem, a apresentação de tal produto será prejudicada.");
      return c;
  });
</script>
{% endblock %}