{% import "macros.html" as macros %}

{% extends "shared/base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
{% include "shared/page-heading.html" %}
{% endwith %}

<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-main product-grid">
        <div class="pro-coloumn">
          <article class="col-main">
            <div class="toolbar">
              <div class="pager">
                <div id="sort-by">
                  <label class="left">Ordenar por: </label>
                  <ul>
                    {{macros.sort_method_li(this_sort_method=0, current_sort_method=data['sort_method'],
                    route=data['route'], name="Nome")}}
                    {{macros.sort_method_li(this_sort_method=1, current_sort_method=data['sort_method'],
                    route=data['route'], name="Menor preço")}}
                    {{macros.sort_method_li(this_sort_method=2, current_sort_method=data['sort_method'],
                    route=data['route'], name="Maior preço")}}
                    {{macros.sort_method_li(this_sort_method=3, current_sort_method=data['sort_method'],
                    route=data['route'], name="Mais vendido")}}
                  </ul>
                </div>
                {% with data=data["paginator_data"] %}
                {% include "shared/paginator.html" %}
                {% endwith %}
              </div>
            </div>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][0:4] %}
                {% include "products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][4:8] %}
                {% include "products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <section class="wow bounceInUp animated">
              <div class="best-pro slider-items-products container">
                <div class="slider-top-hack-space">
                  <h2></h2>
                </div>
                {% with products=data["products"][8:12] %}
                {% include "products/product-flexslider.html" %}
                {% endwith %}
              </div>
            </section>

            <div class="toolbar">
              <div class="pager">
                {% with data=data["paginator_data"] %}
                {% include "shared/paginator.html" %}
                {% endwith %}
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}

{% endblock %}