{% import "macros.html" as macros %}

{% extends "shared/base.html" %}
{% block title %}Envio do email de redefinição de senha{% endblock %}
{% block content %}

{% with data=data["page_heading_data"] %}
  {% include "shared/page-heading.html" %}
{% endwith %}

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
  <div class="main">                     
    <div class="account-login container">
      <form action="#" method="post">
        <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
        <div class="registered-users">
          <strong>Envio do email de recuperação de senha</strong>
          <div class="content">
            <p>Para redefinir sua senha, siga as instruções no email que acabamos de enviar para:</p>
            <div class="centered">
              <ul class="form-list">
                <li>
                  <span class="label label-default email-label">{{data['email']}}</span>
                </li>
              </ul>
            </div>
          </div>        
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}